* {
    box-sizing: border-box;
}

body {
    margin:0;
    padding:0;
    background:#151515;
  }
  
  .center {
    position: absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
  }

  .centre {
    float: center;
    width: 25%;
    margin-top: 6px;
  }
  
  input[type="checkbox"] {
    margin:10px;
    position:relative;
    width:120px;
    height:40px;
    -webkit-appearance: none;
    background: linear-gradient(0deg, #333, #000);
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0,0,0,1);
  }
  
  input:checked[type="checkbox"]:nth-of-type(1) {
    background: linear-gradient(0deg, #e67e22, #f39c12);
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0,0,0,1);
  }
  
  input:checked[type="checkbox"]:nth-of-type(2) {
    background: linear-gradient(0deg, #70a1ff, #1e90ff);
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0,0,0,1);
  }
  
  input[type="checkbox"]:before {
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:80px;
    height:40px;
    background: linear-gradient(0deg, #000, #6b6b6b);
    border-radius: 20px;
    box-shadow: 0 0 0 1px #232323;
    transform: scale(.98,.96);
    transition:.5s;
  }
  
  input:checked[type="checkbox"]:before {
    left:40px;
  }
  
  input[type="checkbox"]:after{
    content:'';
    position:absolute;
    top:calc(50% - 2px);
    left:70px;
    width:4px;
    height:4px;
    background: linear-gradient(0deg, #6b6b6b, #000);
    border-radius: 50%;
    transition:.5s;
  }
  
  input:checked[type="checkbox"]:after {
    left:110px;
  }
  
  h1 {
    margin:0;
    padding:0;
    font-family: sans-serif;
    text-align:center;
    color:#fff;
    font-size:16px;
    padding:15px 0;
    text-transform: uppercase;
    letter-spacing:4px;
}

.fancy-button {
    margin:10px;
    position:relative;
    width:120px;
    height:40px;
    -webkit-appearance: none;
    background: linear-gradient(0deg, #333, #000);
    outline: none;
    border-radius: 20px;
    box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0,0,0,1);
  }

/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
  
  /* Style the label to display next to the inputs */
label {
    padding: 5px 5px 5px 0;
    display: inline-block;
}
  
/* Style the submit button */
input[type=submit] {
    background: linear-gradient(0deg, whitesmoke, gray);
    color: black;
    font-family: sans-serif;
    font-size:12px;
    text-transform: uppercase;
    padding: 12px 20px;
    border: 20px;
    border-color: #333;
    border-radius: 20px;
    cursor: pointer;
    float: right;
}

.btn {
    background: linear-gradient(0deg, whitesmoke, gray);
    color: black;
    font-family: sans-serif;
    font-size:12px;
    text-transform: uppercase;
    width: 25%;
    padding: 12px 20px;
    border: 20px;
    border-color: #333;
    border-radius: 20px;
    cursor: pointer;
}

.pretty-table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid rgb(83, 162, 243);
	border-radius: 10px;
	background: gray;
}

.table-heading {
	border: 0px solid rgb(83, 162, 243);
	color: black;
	margin: 20px;
	width: 25%;
	padding: 10px;
}

.column-heading {
	border: 0px solid rgb(83, 162, 243);
	color: black;
	margin: 20px;
	width: 25%;
	padding: 10px;
}

.table-cell {
	border: 0px solid rgb(83, 162, 243);
	color: darkblue;
	margin: 20px;
	width: 25%;
	padding: 10px;
}

.pretty-frame {
	border: 3px #151515;
	border-radius: 10px;
	background: #151515;
	vertical-align: middle;
	padding: 15px;
}

.centred-outer {
	position: relative;
	text-align: center;
	width: 80%;
	height: 120px;
	margin: auto;
}

.centred-inner {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	width: 100%;
	height: 80px;
}

/* Style the container */
.container {
    border-radius: 5px;
    background-color: #151515;
    padding: 20px;
}
  
/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 60%;
      margin-top: 0;
    }
}