* {
    box-sizing: border-box;
}
  
/* Style inputs, select elements and textareas */
input[type=text], select, textarea {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}
  
  /* Style the label to display next to the inputs */
label {
    padding: 5px 5px 5px 0;
    display: inline-block;
}
  
/* Style the submit button */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

.btn {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.pretty-table {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border: 0px solid rgb(83, 162, 243);
	border-radius: 10px;
	background: plum;
}

.table-heading {
	border: 0px solid rgb(83, 162, 243);
	color: black;
	margin: 20px;
	width: 25%;
	padding: 10px;
}

.column-heading {
	border: 0px solid rgb(83, 162, 243);
	color: black;
	margin: 20px;
	width: 25%;
	padding: 10px;
}

.table-cell {
	border: 0px solid rgb(83, 162, 243);
	color: darkblue;
	margin: 20px;
	width: 25%;
	padding: 10px;
}

.pretty-frame {
	border: 3px navy;
	border-radius: 10px;
	background: aliceblue;
	vertical-align: middle;
	padding: 15px;
}

.centred-outer {
	position: relative;
	text-align: center;
	width: 800px;
	height: 120px;
	margin: auto;
}

.centred-inner {
	position: absolute;
	top: 50%; left: 50%;
	transform: translate(-50%,-50%);
	width: 800px;
	height: 80px;
}

/* Style the container */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
  
/* Floating column for labels: 25% width */
.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}
  
/* Floating column for inputs: 75% width */
.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}
  
  /* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}
  
/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .col-25, .col-75, input[type=submit] {
      width: 60%;
      margin-top: 0;
    }
}