<!DOCTYPE html>
<html>
    <head>
		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>AVR Calibration</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300">
    </head>
    <body>
        <h1 style="text-align: center">AVR Sensor Calibration</h1>
        <p>&nbsp;
        <div class="centred-outer">
            <div class="centred-inner">
            <p class="pretty-frame" style="line-height: 1.5">
            <button class="btn" onclick="getHREF('home')">Home</button>
            <button class="btn" onclick="getHREF('command')">Issue Command</button>
            <button class="btn" onclick="getHREF('calibration')">Calibration</button>
            </p>
            </div>
    
            <script>
            function getHREF(ref) {
                if (ref == 'home') {
                window.location.href = "/";
                }
                else if (ref == 'command') {
                window.location.href = "/cmd/cmd.html";
                }
                else if (ref == 'calibration') {
                window.location.href = "/calib/calibration.html";
                }
            }
            </script>
        </div>
        <div class="container">
            <form action="/calib/post" method="GET">
                <table style="width: 80%; margin-left: auto; margin-right: auto">
                    <tr>
                        <td style="padding: 8px">
                            <table class="pretty-table">
                                <tr>
                                    <td class="column-heading" style="text-align: left"><font size="4"><b>Thermometer</b></font></td>
                                </tr>
                                <tr>
                                    <td class="table-cell" style="text-align: left"><font size="3"><b>Offset</b></font></td>
                                    <td class="table-cell" style="text-align: right">
                                        <input type="text" name="thermometer-offset" value="<tmpl_var thermometer-offset>">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-cell" style="text-align: left"><font size="3"><b>Scale factor</b></font></td>
                                    <td class="table-cell" style="text-align: right">
                                        <input type="text" name="thermometer-factor" value="<tmpl_var thermometer-factor>">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 8px">
                            <table class="pretty-table">
                                <tr>
                                    <td class="column-heading" style="text-align: left"><font size="4"><b>Barometer</b></font></td>
                                </tr>
                                <tr>
                                    <td class="table-cell" style="text-align: left"><font size="3"><b>Offset</b></font></td>
                                    <td class="table-cell" style="text-align: right">
                                        <input type="text" name="barometer-offset" value="<tmpl_var barometer-offset>">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-cell" style="text-align: left"><font size="3"><b>Scale factor</b></font></td>
                                    <td class="table-cell" style="text-align: right">
                                        <input type="text" name="barometer-factor" value="<tmpl_var barometer-factor>">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 8px">
                            <table class="pretty-table">
                                <tr>
                                    <td class="column-heading" style="text-align: left"><font size="4"><b>Hygrometer</b></font></td>
                                </tr>
                                <tr>
                                    <td class="table-cell" style="text-align: left"><font size="3"><b>Offset</b></font></td>
                                    <td class="table-cell" style="text-align: right">
                                        <input type="text" name="hygrometer-offset" value="<tmpl_var hygrometer-offset>">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-cell" style="text-align: left"><font size="3"><b>Scale factor</b></font></td>
                                    <td class="table-cell" style="text-align: right">
                                        <input type="text" name="hygrometer-factor" value="<tmpl_var hygrometer-factor>">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 8px">
                            <table class="pretty-table">
                                <tr>
                                    <td class="column-heading" style="text-align: left"><font size="4"><b>Anemometer</b></font></td>
                                </tr>
                                <tr>
                                    <td class="table-cell" style="text-align: left"><font size="3"><b>Offset</b></font></td>
                                    <td class="table-cell" style="text-align: right">
                                        <input type="text" name="anemometer-offset" value="<tmpl_var anemometer-offset>">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-cell" style="text-align: left"><font size="3"><b>Scale factor</b></font></td>
                                    <td class="table-cell" style="text-align: right">
                                        <input type="text" name="anemometer-factor" value="<tmpl_var anemometer-factor>">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 8px">
                            <table class="pretty-table">
                                <tr>
                                    <td class="column-heading" style="text-align: left"><font size="4"><b>Rain Guage</b></font></td>
                                </tr>
                                <tr>
                                    <td class="table-cell" style="text-align: left"><font size="3"><b>Offset</b></font></td>
                                    <td class="table-cell" style="text-align: right">
                                        <input type="text" name="raingauge-offset" value="<tmpl_var raingauge-offset>">
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-cell" style="text-align: left"><font size="3"><b>Scale factor</b></font></td>
                                    <td class="table-cell" style="text-align: right">
                                        <input type="text" name="raingauge-factor" value="<tmpl_var raingauge-factor>">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 8px">
                            <input type="submit" value="Submit">
                        </td>
                    </tr>
                </table>
            </form>
          </div>
    </body>
</html>
