<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Admin Console</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
      <h1 style="text-align: center">Admin Console</h1>
      <p>&nbsp;
      <div class="centred-outer">
        <div class="centred-inner">
        <p class="pretty-frame" style="line-height: 1.5">
          <button class="btn" onclick="getHREF('home')">Home</button>
          <button class="btn" onclick="getHREF('command')">Issue Command</button>
          <button class="btn" onclick="getHREF('calibration')">Calibration</button>
        </p>
        </div>
  
        <script>
          function getHREF(ref) {
            if (ref == 'home') {
              window.location.href = "/";
            }
            else if (ref == 'command') {
              window.location.href = "/cmd/cmd.html";
            }
            else if (ref == 'calibration') {
              window.location.href = "/calib/calibration.html";
            }
          }
        </script>
      </div>
      <div class="centred-outer">
        <table id="version" class="pretty-table">
          <tr>
            <td class="table-cell" style="text-align: left; font-family: sans-serif">
                <font size="4">WCTL v<tmpl_var wctl-version> Build date: [<tmpl_var wctl-builddate>]</font>
              <br>
                <font size="4">AVR Weather v<tmpl_var avr-version> Build date: [<tmpl_var avr-builddate>]</font>
              <br>
                <font size="4">AVR Scheduler v<tmpl_var rts-version></font>
            </td>
          </tr>
        </table>
      </div>
    </body>
</html>
